
/Interfaccia + emg 20_11/.vs
/Interfaccia + emg 20_11/QtWidgetsApplication1/x64
/Interfaccia + emg 20_11/x64
/Versione con comunicazione/.vs
/Versione senza comunicazione/.vs
/EMG_AcqProject/.vs
/EMG_AcqProject/EMG_Acq/Debug
*.filters
*.user
/EMG_AcqProject/EMG_Acq/Release
/EMG_AcqProject/Release
/Full/.vs
/Full/QtWidgetsApplication1/x64
/Full/x64
Full/QtWidgetsApplication1/prova.mkv
*.dll
*.exe
*.pdb
*.tlb
*.vcxproj
/Force_AcqProject/ForceReader/.vs
/Force_AcqProject/ForceReader/Debug
/Force_AcqProject/ForceReader/ForceReader/Debug
/Force_AcqProject/ForceReader/ForceReader/x64
/Full/build
/Full/packages
Full/QtWidgetsApplication1/prova_antonio.mkv
